@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.wrapper {
  width: 100%;

  @include laptop {
    width: 32%;
  }

  @include desktop {
    width: 24%;
  }
}

.select {
  @include set-flex(row, flex-start, center);

  gap: 10px;
  height: 56px;
  padding: 12px;
  border: 1px solid transparent;
  border-bottom: 1px solid $gray-0;
  cursor: pointer;
}

.title {
  color: $gray-0;
}

.menu {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background-color: $gray-100;
  z-index: 10;
  border-radius: 24px;

  @include tablet {
    width: calc(50% - 10px);
  }

  @include laptop {
    width: 32%;
  }

  @include desktop {
    width: 24%;
  }

  &__wrapper {
    @include set-flex(row, space-between, center);

    height: 56px;
    padding: 12px;
    border: 1px solid $gray-0;
    border-bottom: 1px solid $gray-50;
    border-radius: 24px 24px 0 0;
    cursor: pointer;
  }

  &__container {
    @include set-flex(row, center, center);

    gap: 10px;
  }

  &__title {
    color: $gray-0;
  }
}

.dropdown {
  overflow: auto;
  width: 100%;
  background: $gray-100;
  border: 1px solid $gray-0;
  border-top: 0;
  box-sizing: border-box;
  border-radius: 0 0 24px 24px;
  max-height: 970px;

  @include tablet {
    max-height: 850px;
  }

  &__option {
    @include set-flex(row, space-between, center);

    padding: 12px 15px 12px 48px;
    height: 48px;
    border-bottom: 1px solid $gray-50;
    color: $gray-0;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.buttons {
  @include set-flex(column);

  position: sticky;
  bottom: 0;
  background-color: $gray-100;
  border-bottom-left-radius: 24px 24px;
  border-bottom-right-radius: 24px 24px;
  z-index: 10;

  gap: 12px;
  padding: 28px 12px 12px;
}

.button {
  @include set-size(100%, 48px);

  align-self: center;
  font-size: $font-size-base;
  color: $gray-5;
  border-radius: 24px;
  background-color: $gray-100;
  border-color: $gray-5;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.mainButton {
  background-color: $gray-5;
  color: $gray-100;
}
