@import "@styles/mixins.scss";
@import "@styles/vars.scss";

.footer {
  background-color: $gray-100;
}

.lines {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.line {
  background-color: $gray-5;
}

.line_1 {
  height: 12px;
}

.line_2 {
  height: 24px;
}
.line_3 {
  height: 48px;
}

.container {
  margin-top: 12px;
  background-color: $gray-5;
  padding: 0 22px;
}

.button {
  margin-top: 48px;
  height: 48px;
  width: 100%;
  border-radius: 24px;
  font-size: $font-size-base;
  color: $gray-5;
  background-color: $gray-90;
}

.menuItems {
  @include set-flex(column, center, center);

  margin-top: 32px;
  gap: 16px;
  font-size: $font-size-xxl;
  font-family: $font-title;
  line-height: 48px;
  color: $gray-100;
  list-style: none;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 30px;
}

.license {
  @include set-flex(column, center, center);
  text-align: center;
  margin-top: 36px;
  gap: 8px;
  font-size: $font-size-md;
}
