@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.paintingWrapper {
  position: relative;

  @include tablet {
    @include set-flex(row);

    position: relative;
    margin-top: 32px;
    gap: 16px;
  }
}

.imageWrapper {
  margin-top: 24px;
  width: 100%;

  @include tablet {
    position: static;
    width: 35%;
    margin-top: 0;
  }

  @include laptop {
    width: 30%;
  }
}

.image {
  height: auto;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
}

.closeIcon {
  @include set-flex(row, center, center);
  @include set-square(56px);

  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $gray-30;
  border-radius: 50%;
  cursor: pointer;

  @include tablet {
    top: 0;
    right: 0;
  }

  &:hover {
    transform: rotate(90deg);
    transition: 0.3s;
    background-color: $gray-50;
  }

  &:active {
    transform: scale(0.9);
  }
}

.paintingInfo {
  color: $gray-0;

  @include tablet {
    @include set-flex(column, space-between);

    width: 65%;
  }

  @include laptop {
    width: 70%;
  }
}

.title {
  margin-top: 24px;
  text-transform: uppercase;
  font-size: $font-size-xl;

  @include tablet {
    margin-top: 0;
  }

  @include tabletXL {
    font-size: $font-size-xxl;
  }
}

.author {
  margin-top: 16px;
}

.size {
  margin-top: 16px;
}

.country {
  @include set-flex(row);

  gap: 10px;
  margin-top: 16px;
  color: $gray-10;
}

.price {
  margin-top: 24px;
  font-size: $font-size-xxl;
  font-family: $font-title;

  @include tablet {
    margin-top: 0;
    text-align: end;
  }

  @include tabletXL {
    font-size: $font-size-xxxl;
  }
}

.line {
  margin-top: 24px;
  height: 1px;
  background-color: $gray-10;
}

.totalInfo {
  margin-top: 48px;

  @include tablet {
    @include set-flex(row, space-between, center);
  }
}

.totalPrice {
  color: $gray-0;
  font-size: $font-size-xxl;
  font-family: $font-title;

  @include tabletXL {
    font-size: $font-size-xxxl;
  }
}

.button {
  margin-top: 24px;
  height: 48px;
  width: 100%;
  border-radius: 24px;
  background-color: $gray-0;
  font-size: $font-size-base;
  border: 1px solid $gray-0;
  transition-duration: 0.3s;
  cursor: pointer;
  color: $gray-100;

  &:hover {
    background-color: $gray-0;
    color: $gray-100;
  }

  &:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }

  @include tablet {
    width: 184px;
    margin-top: 0;
  }

  @include tabletXL {
    width: 216px;
  }

  @include laptop {
    width: 319px;
  }

  @include desktopHD {
    width: 368px;
  }
}

.emptyCart {
  @include set-flex(column, center, center);

  position: relative;
  min-height: 150px;

  @include tablet {
    min-height: 200px;
  }

  @include tabletXL {
    min-height: 300px;
  }

  @include laptop {
    min-height: 350px;
  }

  @include desktop {
    min-height: 400px;
  }
}

.emptyCart__title {
  margin-top: 48px;
  color: $gray-5;
  text-align: center;
  font-size: $font-size-xxl;

  @include laptop {
    font-size: $font-size-xxxl;
  }

  @include desktopHD {
    font-size: $font-size-4xl;
  }
}

.emptyCart__subTitle {
  margin-top: 24px;
  color: $gray-10;
  text-align: center;
}

.emptyCart__button {
  @include set-flex(row, center, center);

  margin: 34px 0 100px;
  width: 100%;
  height: 48px;
  color: $gray-100;
  background-color: $gray-5;
  border-radius: 24px;

  @include tablet {
    @include set-square(144px);

    border-radius: 50%;
  }

  @include desktop {
    @include set-square(208px);

    margin-top: 32px;
    margin-bottom: 100px;
  }

  &:hover {
    background-color: $gray-0;
  }

  &:active {
    transition-duration: 0.3s;
    transform: scale(0.9);
  }
}

.imageTop {
  position: absolute;
  right: -5%;
  top: -20%;
  height: 80px;
  width: 160px;

  @include tablet {
    height: 100px;
    width: 220px;

    right: -10%;
    top: -15%;
  }

  @include tabletXL {
    height: 120px;
    width: 280px;

    right: -5%;
    top: -26%;
  }

  @include laptop {
    height: 150px;
    width: 350px;

    right: -5%;
    top: -26%;
  }

  @include desktop {
    height: 216px;
    width: 450px;
    right: -10%;
    top: -22%;
  }
}

.imageBottom {
  position: absolute;
  height: 80px;
  width: 160px;
  bottom: -12%;
  left: -5%;
  transform: rotate(180deg);

  @include tablet {
    height: 100px;
    width: 220px;
    bottom: -9%;
    left: -5%;
  }

  @include tabletXL {
    height: 120px;
    width: 280px;
    bottom: -9%;
    left: -5%;
  }

  @include laptop {
    height: 150px;
    width: 350px;
    bottom: -9%;
    left: -5%;
  }

  @include desktop {
    height: 216px;
    width: 450px;
    bottom: -7%;
    left: -10%;
  }
}
