@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.slider {
  margin-top: 24px;

  @include laptop {
    margin-top: 0;
  }
}

.slider__images {
  height: 350px;
  width: 100%;
  touch-action: pinch-zoom;

  @include tablet {
    height: 100%;
    height: 450px;
  }

  @include laptop {
    max-width: 550px;
    max-height: 405px;
    height: 405px;
  }

  @include desktop {
    max-width: 700px;
    max-height: 450px;
    height: 450px;
  }

  @include desktopHD {
    max-width: 800px;
    height: 650px;
    max-height: 650px;
  }
}

.fullScreenPainting {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: rgba(22, 23, 23, 1);
  inset: 0;
  touch-action: pinch-zoom;
  transition: 1s;
}

.slider .swiper-container__thumbs {
  @include set-size(100%, 100%);
}

.slider .swiper-container__image {
  @include set-size(100%, 100%);
}

.slider__flex {
  @include set-flex(row-reverse);

  @include laptop {
    gap: 20px;
  }

  @include desktop {
    gap: 100px;
  }
}

.slider__col {
  display: none;

  @include laptop {
    @include set-flex(column);
  }
}

.slider__thumbs {
  @include laptop {
    height: 405px;
  }

  @include desktop {
    height: 450px;
  }

  @include desktopHD {
    height: 585px;
  }
}
.slider__thumbs .slider__image {
  @include laptop {
    width: 80px;
    height: 80px;
  }
  @include desktop {
    width: 96px;
    height: 96px;
  }

  @include desktopHD {
    width: 112px;
    height: 112px;
  }
}

.slider__thumbs .slider__image:hover {
  cursor: pointer;
  opacity: 1;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
  opacity: 0.5;
}

.slider__image {
  width: 100%;
  height: 100%;
}

.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider .swiper-pagination-bullet {
  background-color: $gray-0;
}

.slider .swiper-pagination {
  @include set-flex(row, center);

  gap: 15px;
}
