@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.author {
  .container {
    padding: 15px 22px 0;

    @include tabletXL {
      padding: 32px 36px 0;
    }

    @include laptop {
      @include set-flex(row, center, flex-start);
      padding: 24px 24px 0;
      gap: 32px;
    }

    @include desktop {
      padding: 24px 40px 0;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;

    @include laptop {
      width: 40%;
    }

    .image {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }

  &__info {
    margin-top: 24px;
    width: 100%;
    font-family: $font-text;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
    text-align: center;
    color: $gray-0;

    @include tablet {
      margin-top: 48px;
    }

    @include laptop {
      text-align: start;
      margin-top: 0;
      width: 60%;
    }
  }

  &__name {
    font-family: $font-title;
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
    font-weight: $font-weight-regular;

    @include tabletXL {
      font-size: 48px;
      line-height: 56px;
    }

    @include laptop {
      font-size: $font-size-xxxl;
      line-height: 100%;
    }

    @include desktop {
      font-size: $font-size-huge;
      line-height: $line-height-huge;
    }
  }

  &__styles {
    margin-top: 16px;

    @include laptop {
      @include set-flex(row, flex-start, center);
      flex-wrap: wrap;
      gap: 16px;
    }

    @include tablet {
      margin-top: 24px;
    }

    .style {
      @include laptop {
        padding: 12px 20px;
        border-radius: 100px;
        border: 1px solid $gray-0;

        &__title {
          @include laptop {
            display: none;
          }
        }
      }

      &__mobile {
        @include laptop {
          display: none;
        }
      }

      &__laptop {
        display: none;

        @include laptop {
          display: inline;
        }
      }
    }
  }

  &__location {
    @include set-flex(row, center, center);
    margin-top: 4px;
    gap: 16px;
    color: $gray-5;

    @include laptop {
      margin-top: 32px;
      justify-content: flex-start;
    }
  }

  &__about {
    margin-top: 22px;
    height: auto;
    padding: 8px;
    text-align: justify;

    @include tablet {
      margin-top: 34px;
    }
  }
}

.button__add {
  margin-top: 16px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid $gray-5;
  display: flex;
  gap: 10px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background-color: $gray-5;
  color: $gray-100;
  font-size: $font-size-base;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    @include set-square(24px);
  }

  @include tabletXL {
    display: none;
  }
}

.button__edit {
  margin-top: 24px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid $gray-5;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $gray-5;
  font-size: $font-size-base;

  &:hover {
    cursor: pointer;
  }
}
