@import "./vars.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: $z-index-menu;

  @include laptop {
    position: static;
  }
}

html,
body {
  background-color: $gray-100;
  font-family: $font-text;

  @include desktopHD {
    margin: 0 auto;
    max-width: 1600px;
    scrollbar-gutter: stable;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: $font-text;
  font-weight: $font-weight-regular;
  line-height: 150%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.imageOpacityEffect {
  transition-property: opacity;
  transition-timing-function: ease;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 0.5);
  transition-duration: 0.5s;
  opacity: 0;
}

div ::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

div ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
  margin-bottom: 10px;
}

div ::-webkit-scrollbar-thumb {
  background-color: $gray-80;
  border-radius: 8px;
  border: 1px solid $gray-30;
}

div ::-webkit-scrollbar-button {
  background-color: transparent;
  height: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $gray-0;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 30px 30px $gray-90;
}
