@import "./vars.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;

  @include laptop {
    position: static;
  }
}

html,
body {
  @include desktopHD {
    margin: 0 auto;
    max-width: 1600px;
  }

  background-color: $gray-100;
  font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: $font-text;
  font-weight: $font-weight-regular;
  line-height: 150%;
}

.buttonLight {
  height: 48px;
  width: 100%;
}
