/* font */
$font-title: var(--font-kyiv);
$font-text: var(--font-openSans);

/* size */
$font-size-giant: 96px;
$font-size-huge: 64px;
$font-size-4xl: 48px;
$font-size-xxxl: 40px;
$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-base: 16px;
$font-size-md: 12px;
$font-size-sm: 10px;

/* size */
$line-height-giant: 120px;
$line-height-huge: 72px;
$line-height-xxl: 48px;
$line-height-base: 24px;

/* weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-base: 500;
$font-weight-semibold: 600;
$font-weight-bold: 800;

/* colors */
$gray-100: #161717;
$gray-90: #1c1d1d;
$gray-80: #1f2020;
$gray-70: #262728;
$gray-50: #3d3e3f;
$gray-30: #78797a;
$gray-10: #b3b4b5;
$gray-5: #eff0f1;
$gray-0: #f9fafb;
$system-error: #d32b10;
$system-warning: #efcc4f;
$system-success: #4fef7c;
$system-info: #4f99ef;

/* other */
$z-index-menu: 100;
