@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.form {
  @include set-flex(column);

  width: 100%;
}

.label {
  width: 100%;

  &__text {
    margin-top: 24px;
    color: $gray-30;
    font-size: $font-size-md;
  }
}

.coupleInputs {
  @include tabletXL {
    @include set-flex(row);

    gap: 24px;
  }
}

.star {
  color: $system-error;
}

.inputText {
  margin-top: 8px;
  height: 48px;
  width: 100%;
  padding: 12px 16px;
  color: $gray-0;
  font-size: 16px;
  outline: none;
  background-color: $gray-90;
  transition-duration: 0.3s;
  border: 1px solid transparent;

  &::placeholder {
    color: $gray-30;
  }

  &:hover {
    border: 1px solid $gray-50;
    transition-duration: 0.3s;
  }

  &:focus {
    border: 1px solid $gray-30;
    transition-duration: 0.3s;
  }

  &__error {
    border: 1px solid $system-error !important;
  }
}

.error {
  margin-top: 8px;
  font-size: $font-size-md;
  color: $system-error;
}

.button {
  @include set-flex(row, center, center);

  margin-top: 48px;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: $gray-5;
  color: $gray-100;
  cursor: pointer;

  &:hover {
    background-color: $gray-0;
  }

  &:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
}
