@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.gallery {
  @include set-flex(column);
  padding: 24px 22px 48px;

  @include tabletXL {
    padding: 32px 36px 48px;
  }

  @include laptop {
    padding: 32px 30px 32px;
  }
}

.title {
  color: $gray-0;
  font-size: $font-size-xxl;
  font-weight: $font-weight-regular;

  @include laptop {
    font-size: $font-size-xxxl;
  }

  @include desktop {
    font-size: $font-size-huge;
  }

  @include desktopHD {
    font-size: $font-size-giant;
  }
}

.filters {
  @include set-flex(row);

  gap: 20px;
  position: relative;

  @include laptop {
    justify-content: flex-end;
  }
}

.cards {
  margin-top: 24px;
}
