@import "@styles/mixins.scss";
@import "@styles/vars.scss";

.dataInfo {
  @include laptop {
    @include set-flex(row-reverse, space-around);

    gap: 60px;
    padding: 80px 40px;
  }

  @include desktopHD {
    justify-content: space-between;
    padding: 80px 0;
  }
}

.data {
  @include set-flex(column, center, center);

  padding: 80px 22px 30px;
  gap: 32px;

  @include tablet {
    gap: 48px;
  }

  @include laptop {
    padding: 0;
    width: 310px;
    flex-shrink: 0;
  }

  @include desktop {
    width: 395px;
  }

  @include desktopHD {
    width: 600px;
  }
}

.info {
  @include set-flex(column, center, center);
  gap: 8px;

  @include tablet {
    gap: 12px;
  }
}

.quantity {
  font-size: $font-size-xxl;
  font-weight: 400;
  color: $gray-5;

  @include tablet {
    font-size: $font-size-huge;
  }

  @include laptop {
    font-size: 50px;
  }

  @include desktop {
    font-size: $font-size-huge;
  }

  @include desktopHD {
    font-size: $font-size-giant;
  }
}

.text {
  color: $gray-10;

  @include tablet {
    font-size: $font-size-lg;
  }

  @include desktop {
    font-size: $font-size-xl;
  }
}

.wrapper {
  @include set-flex(column);

  @include laptop {
    position: relative;
  }
}

.ornament {
  @include set-flex(column, center);

  margin-top: calc(-48% + 48px);
  overflow: hidden;

  @include laptop {
    margin-top: 0;
  }
}

.imageMobile {
  @include set-square(100%);

  transform: translateY(48%);

  @include laptop {
    display: none;
  }
}

.imageDesktop {
  display: none;

  @include laptop {
    @include set-size(555px, 580px);

    display: block;
  }

  @include desktop {
    @include set-size(770px, 800px);
  }

  @include desktopHD {
    @include set-size(820px, 855px);
  }
}

.button {
  @include set-size(90%, 48px);
  @include set-flex(row, center, center);

  margin: 0 22px;
  align-self: center;
  font-size: $font-size-base;
  color: $gray-5;
  border-radius: 24px;
  background-color: $gray-100;
  border-color: $gray-5;
  border-width: 1px;
  border-style: solid;
  z-index: 1;

  @include tabletXL {
    width: 456px;
  }

  @include laptop {
    @include set-square(140px);

    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    color: $gray-100;
    background-color: $gray-5;
  }

  @include desktop {
    @include set-square(208px);
    font-size: $font-size-lg;
  }

  @include desktopHD {
    @include set-square(240px);
    font-size: $font-size-xl;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transition-duration: 0.3s;
    transform: translateY(-50%) scale(0.9);
    background-color: $gray-0;
    color: $gray-100;
  }
}
