@import '@styles/mixins.scss';
@import '@styles/vars.scss';

.laptop {
  margin: 0 auto;
  padding: 48px 48px 0;
  width: calc(930px + 96px);

  display: none;

  @include laptop {
    @include set-flex(column, center, center);
    gap: 42px;
  }

  @include desktop {
    display: none;
  }

  .square {
    position: relative;
    @include set-square(164px);
  }

  .container {
    &__2x1 {
      position: relative;
      width: 410px;
      height: 178px;
    }

    &__4x3 {
      position: relative;
      width: 290px;
      height: 100%;
    }

    &__4x3_big {
      position: relative;
      width: 450px;
      height: 238px;
    }

    &__5x4 {
      position: relative;
      width: 450px;
      height: 100%;
    }
  }

  .top {
    @include set-flex(row, center, center);
    gap: 56px;
    height: 164px;
    width: 100%;
  
    &__title {
      margin-right: 41px;
      width: 458px;
      font-size: $font-size-huge;
      line-height: $line-height-huge;
      text-align: end;
      color: $gray-0;
    }
  }
  
  .middle {
    width: 100%;
    height: 178px;
    @include set-flex(row, flex-start, center);
    gap: 30px;
  
    .button {
      @include set-flex(row, center, center);
      @include set-square(140px);
      border-radius: 50%;
      background-color: $gray-5;
      color: $gray-100;
    
      &:hover {
        cursor: pointer;
        background-color: $gray-0;
      }
    }
  }
  
  .bottom {
    height: 338px;
    @include set-flex(row, center, center);
    gap: 30px;
  
    &__container {
      width: 450px;
    }
  
    &__button {
      @include set-flex(row, center, center);
      margin-top: 51px;
      width: 100%;
      height: 48px;
      border-radius: 24px;
      background-color: $gray-5;
      color: $gray-100;
    
      &:hover {
        cursor: pointer;
        background-color: $gray-0;
      }
    }
  }
}
