@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.container {
  max-width: 1008px;
  margin: 0 auto;
  @include set-flex(row, flex-start);
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
}

.card {
  width: 45%;
  max-width: 320px;

  @include tablet {
    width: 30%;
  }
}

.image {
  max-height: 264px;
  object-fit: contain;
  width: 100%;
}

.description {
  margin-top: 24px;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  color: $gray-0;
}
