@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.card {
  @include set-flex(column);
  transition: transform 0.3s ease;

  width: 100%;
  color: $gray-5;

  &:hover {
    transform: scale(1.01);
    opacity: 80%;
    transition: transform 0.3s ease;

    .buy__icon {
      background-color: $gray-0;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

      @keyframes pulse {
        50% {
          opacity: 0.5;
        }
      }

      path {
        fill: $gray-100;
      }
    }
  }
}

.image {
  width: 100%;
  height: auto;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1.5s;
}

.title {
  margin-top: 16px;
  font-family: $font-text;
}

.artist {
  margin-top: 5px;
  color: $gray-10;
}

.buy {
  @include set-flex(row, space-between, center);

  margin-top: 5px;
  width: 100%;

  &__price {
    align-self: flex-end;
  }

  &__icon {
    @include set-flex(row, center, center);

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: $gray-0;
    border-width: 1px;
    border-style: solid;
  }
}
