@import "@styles/mixins.scss";
@import "@styles/vars.scss";

.loginButton {
  @include set-flex(row, center, center);
  @include set-size(96px, 48px);

  background-color: $gray-0;
  color: $gray-100;
  border-radius: 24px;
  cursor: pointer;

  @include laptop {
    display: none;
    margin-top: 0;
  }

  &:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
}
