@import "@styles/mixins.scss";
@import "@styles/vars.scss";

.mobile {
  position: relative;
  height: calc(100dvh - 56px);
  margin: 0 auto;
  padding: 16px 22px 24px;

  @include set-flex(column, center, center);
  gap: 40px;

  @include tablet {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }

  &__background {
    z-index: 0;
    object-fit: cover;
  }

  &__title {
    margin-top: 250px;

    text-align: center;
    font-size: 50px;
    line-height: 64px;
    font-weight: $font-weight-regular;
    color: $gray-0;
    z-index: 2;
  }

  &__button {
    @include set-flex(row, center, center);
    @include set-square(144px);

    margin-top: 150px;
    border-radius: 50%;
    z-index: 2;

    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
    background-color: $gray-5;
    color: $gray-100;

    &:hover {
      cursor: pointer;
      background-color: $gray-0;
    }
  }
}

.hero {
  display: none;

  @include tablet {
    padding: 0 19px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(50, 24px);
    column-gap: 16px;
  }

  @include desktopHD {
    padding: 0 40px;
    grid-template-rows: repeat(50, 28px);
  }
}

.title {
  grid-column: 1 / 7;
  grid-row: 4 / 14;
  text-align: end;
  color: $gray-0;
  font-family: $font-title;
  font-size: $font-size-giant;
  font-weight: $font-weight-regular;
  line-height: 120px;
}

.images {
  position: relative;
  object-fit: cover;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
    scale: (1.01);
  }
}

.first__image {
  grid-column: 8 / -1;
  grid-row: 3 / 13;
}

.second__image {
  grid-column: 1 / 4;
  grid-row: 17 / 32;
}

.third__image {
  grid-column: 5 / 10;
  grid-row: 17 / 32;
}

.fourth__image {
  grid-column: 1 / 6;
  grid-row: 36 / 46;
}

.fifth__image {
  grid-column: 7 / 10;
  grid-row: 36 / -1;
}

.sixth__image {
  grid-column: 11 / -1;
  grid-row: 30 / 39;
}

.seventh__image {
  grid-column: 11 / -1;
  grid-row: 42 / -1;
}

.button {
  @include set-flex(row, center, center);
  @include set-square(140px);

  grid-column: 11 / -1;
  grid-row: 17 / 26;
  border-radius: 50%;
  background-color: $gray-5;
  color: $gray-100;

  @include desktop {
    @include set-square(208px);
  }

  @include desktopHD {
    @include set-square(240px);
  }

  &:hover {
    cursor: pointer;
    background-color: $gray-0;
  }

  &:active {
    transition-duration: 0.3s;
    transform: scale(0.9);
  }
}

.additionalButton {
  @include set-flex(row, center, center);

  grid-column: 1 / 6;
  grid-row: 49 / -1;
  height: 48px;
  width: 100%;
  border-radius: 24px;
  background-color: $gray-5;
  color: $gray-100;

  @include desktopHD {
    height: 56px;
  }

  &:hover {
    cursor: pointer;
    background-color: $gray-0;
  }

  &:active {
    transition-duration: 0.3s;
    transform: scale(0.9);
  }
}
