@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.noArts {
  @include set-flex(column, center, center);

  position: relative;
  min-height: 50vh;

  @include tablet {
    min-height: 60vh;
  }

  @include tabletXL {
    min-height: 65vh;
  }

  @include desktop {
    min-height: 60vh;
  }
}

.title {
  color: $gray-10;
  text-align: center;

  @include tablet {
    margin-top: -50px;
  }

  @include laptop {
    margin-top: -100px;
    font-size: $font-size-xl;
  }

  @include desktop {
    font-size: $font-size-xxl;
  }

  @include desktopHD {
    margin-top: -150px;
  }
}

.button {
  @include set-flex(row, center, center);

  margin-top: 24px;
  width: 100%;
  height: 48px;
  color: $gray-100;
  background-color: $gray-5;
  border-radius: 24px;

  @include tabletXL {
    @include set-square(144px);

    border-radius: 50%;
  }

  @include desktop {
    margin-top: 40px;
  }

  &:hover {
    background-color: $gray-0;
  }

  &:active {
    transition-duration: 0.3s;
    transform: scale(0.9);
  }
}
