@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.more__painting {
  margin-top: 50px;
  display: flex;
  gap: 20px;

  @include tablet {
    gap: 24px;
  }
}

// .cardPreview {
//   max-height: 450px;
// }
