@import '@styles/mixins.scss';
@import '@styles/vars.scss';

.desktop {
  display: none;
  margin: 0 auto;
  padding: 48px 20px 0;

  @include desktop {
    display: block;
  }

  .top {
    margin: 0 auto;
    width: 1328px;
    height: 240px;
    @include set-flex(row, center, center);
    gap: 128px;

    @include desktopHD {
      width: 1520px;
      height: 276px;
      gap: 144px;
    }

    &__title {
      margin-top: 24px;
      width: 656px;
      text-align: right;
      font-size: $font-size-giant;
      line-height: $line-height-giant;
      font-weight: $font-weight-regular;
      color: $gray-0;

      @include desktopHD {
        width: 752px;
      }
    }
  }

  .middle {
    margin: 72px auto 0;
    width: 1328px;
    height: 816px;
    @include set-flex(row, center, center);
    gap: 128px;

    @include desktopHD {
      margin: 108px auto 0;
      width: 1520px;
      height: 852px;
      gap: 144px;
    }

    &__left {
      width: 992px;
      height: 100%;

      @include desktopHD {
        width: 1136px;
      }
    }
  }

  .right {
    width: 208px;
    height: 100%;
    @include set-flex(column, center, space-between);
    gap: 96px;

    @include desktopHD {
      width: 240px;
      gap: 72px;
    }

    .button {
      @include set-flex(row, center, center);
      @include set-square(208px);
      border-radius: 50%;
      background-color: $gray-5;
      color: $gray-100;

      @include desktopHD {
        @include set-square(240px);
      }
    
      &:hover {
        cursor: pointer;
        background-color: $gray-0;
      }
    }
  }

  .left {
    &__top {
      @include set-flex(row, space-between, center);
      gap: 128px;

      @include desktopHD {
        gap: 144px;
      }
    }

    &__bottom {
      @include set-flex(row, space-between, center);
      margin-top: 96px;

      @include desktopHD {
        margin-top: 70px;
      }

      .button {
        @include set-flex(row, center, center);
        margin-top: 72px;
        width: 100%;
        height: 48px;
        border-radius: 24px;
        background-color: $gray-5;
        color: $gray-100;

        @include desktopHD {
          margin-top: 44px;
        }

        &:hover {
          cursor: pointer;
          background-color: $gray-0;
        }
      }
    }
  }

  .container {
    &__2x1 {
      position: relative;
      width: 544px;
      height: 240px;
  
      @include desktopHD {
        width: 624px;
        height: 276px;
      }
    }
  
    &__3x4 {
      position: relative;
      width: 320px;
      height: 360px;
  
      @include desktopHD {
        width: 368px;
        height: 414px;
      }
  
      &__bottom {
        position: relative;
        width: 320px;
        height: 360px;
  
        @include desktopHD {
          display: none;
        }
      }
    }
  
    &__5x4 {
      position: relative;
      width: 544px;
      height: 360px;
  
      @include desktopHD {
        width: 624px;
        height: 412px;
      }
    }
  
    &__square {
      display: none;
  
      @include desktopHD {
        display: block;
        position: relative;
        @include set-square(368px);
      }
    }
  }
  
  .square {
    position: relative;
    @include set-square(208px);
  
    @include desktopHD {
      @include set-square(240px);
    }
  }
}
