@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.author {
  margin-bottom: 100px;
  .container {
    padding: 15px 22px 0;

    @include tabletXL {
    padding: 32px 36px 0;
  }

    @include laptop {
      @include set-flex(row, center, flex-start);
      padding: 24px 24px 0;
      gap: 32px;
    }

    @include desktop {
      padding: 24px 40px 0;
    }
  }

  &__info {
    margin-top: 24px;
    width: 100%;
    font-family: $font-text;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
    text-align: center;
    color: $gray-0;

    @include tablet {
      margin-top: 48px;
    }

    @include laptop {
      text-align: start;
      margin-top: 0;
    }
  }

  &__photo {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 100%;

    @include laptop {
      padding-top: 50%;
    }

    .image {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: top;
      transform: translateX(-50%);

      @include laptop {
        left: 0;
        transform: translateX(0);
      }
    }
  }

  &__name {
    font-family: $font-title;
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
    font-weight: $font-weight-regular;

    @include tabletXL {
      font-size: 48px;
      line-height: 56px;
    }

    @include laptop {
      font-size: $font-size-xxxl;
      line-height: 100%;
    }

    @include desktop {
      font-size: $font-size-huge;
      line-height: $line-height-huge;
    }
  }

  &__styles {
    margin-top: 16px;

    @include tablet {
      margin-top: 24px;
    }
  }

  &__location {
    @include set-flex(row, center, center);
    margin-top: 4px;
    gap: 16px;

    @include laptop {
      justify-content: flex-start;
    }
  }

  &__about {
    margin-top: 22px;
    height: auto;
    padding: 8px;
    text-align: start;

    @include tablet {
      margin-top: 34px;
    }
  }
}

.tabs {
  position: relative;
  margin-top: 36px;
  margin-bottom: 32px;
  padding-left: 22px;
  font-size: $font-size-md;
  line-height: 20px;
  color: $gray-0;

  @include tablet {
    margin-top: 40px;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  @include tabletXL {
    @include set-flex(row, center, center);
    padding-left: 36px;
    justify-content: space-between;
  }

  @include laptop {
    padding-left: 24px;
  }

  @include desktop {
    padding-left: 40px;
  }

  &:first-child {
    @include laptop {
      margin-left: 24px;
    }

    @include desktop {
      margin-left: 40px;
    }
  }

  &__container {
    @include set-flex(row, center, center);
    gap: 16px;

    @include tablet {
      gap: 24px;
    }

    @include tabletXL {
      gap: 16px;
    }
  }

  .tab {
    @include set-flex(row, center, center);
    padding: 12px;
    width: 94px;
    height: 48px;
    text-align: center;
    background-color: $gray-100;

    @include tablet {
      width: 184px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .isActive {
    @include set-flex(row, center, center);
    padding: 12px;
    width: 94px;
    height: 48px;
    border: 1px solid $gray-0;
    border-bottom: 1px solid $gray-100;
    border-radius: 24px 24px 0px 0px;
    z-index: 2;

    @include tablet {
      width: 184px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .add {
    display: none;
    margin-right: 22px;
    width: 184px;
    height: 48px;
    border-radius: 24px 24px 0px 0px;
    color: $gray-70;
    text-align: center;
    font-size: $font-size-xxxl;
    font-weight: $font-weight-regular;
    line-height: $line-height-xxl;

    &:hover {
      cursor: pointer;
    }

    @include tabletXL {
      display: block;
    }

    @include laptop {
      width: 208px;
    }
  }

  .tabsFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    z-index: 1;
    background-color: $gray-0;
  }
}

.gallery {
  padding: 15px 22px;

  @include tabletXL {
    padding: 32px 36px;
  }

  @include laptop {
    padding: 24px;
  }

  @include desktop {
    padding: 24px 40px;
  }
}

.button__add {
  margin-top: 16px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid $gray-5;
  display: flex;
  gap: 10px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background-color: $gray-5;
  color: $gray-100;
  font-size: $font-size-base;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    @include set-square(24px);
  }

  @include tabletXL {
    display: none;
  }
}

.button__edit {
  margin-top: 24px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid $gray-5;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $gray-5;
  font-size: $font-size-base;

  &:hover {
    cursor: pointer;
  }
}

