@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.paintingWrapper {
  position: relative;

  @include tablet {
    @include set-flex(row);

    position: relative;
    margin-top: 32px;
    gap: 16px;
  }
}

.imageWrapper {
  margin-top: 24px;
  width: 100%;

  @include tablet {
    position: static;
    width: 35%;
    margin-top: 0;
  }

  @include laptop {
    width: 30%;
  }
}

.image {
  height: auto;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
}

.closeIcon {
  @include set-flex(row, center, center);
  @include set-square(56px);

  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $gray-30;
  border-radius: 50%;
  cursor: pointer;

  @include tablet {
    top: 0;
    right: 0;
  }

  &:hover {
    transform: rotate(90deg);
    transition: 0.3s;
    background-color: $gray-50;
  }

  &:active {
    transform: scale(0.9);
  }
}

.paintingInfo {
  color: $gray-0;

  @include tablet {
    @include set-flex(column, space-between);

    width: 65%;
  }

  @include laptop {
    width: 70%;
  }
}

.title {
  margin-top: 24px;
  text-transform: uppercase;
  font-size: $font-size-xl;

  @include tablet {
    margin-top: 0;
  }

  @include tabletXL {
    font-size: $font-size-xxl;
  }
}

.author {
  margin-top: 16px;
}

.size {
  margin-top: 16px;
}

.country {
  @include set-flex(row);

  gap: 10px;
  margin-top: 16px;
  color: $gray-10;
}

.price {
  margin-top: 24px;
  font-size: $font-size-xxl;
  font-family: $font-title;

  @include tablet {
    margin-top: 0;
    text-align: end;
  }

  @include tabletXL {
    font-size: $font-size-xxxl;
  }
}

.line {
  margin-top: 24px;
  height: 1px;
  background-color: $gray-10;
}