@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.editProfile {
  margin: 0 auto;
  padding: 32px 16px;

  @include tabletXL {
    padding: 32px 22px;
  }

  @include desktop {
    padding: 48px;
  }
}

.error {
  position: absolute;
  margin-top: 2px;
  font-size: $font-size-sm;
  color: $system-error;

  &__file {
    font-size: $font-size-base;
  }

  &__about {
    position: absolute;
    bottom: -12px;
    font-size: $font-size-sm;
    color: $system-error;
  }
}

.input {
  position: relative;
  width: 100%;
}

.titleContainer {
  @include set-flex(row, flex-start, center);
  margin-bottom: 32px;
  gap: 32px;
  width: 100%;

  @include tabletXL {
    gap: 72px;
  }

  @include desktop {
    margin-bottom: 48px;
  }

  .arrow {
    @include set-square(32px);
    background-color: transparent;

    path {
      fill: $gray-30;
      transition: fill 0.3s;
    }

    &:hover {
      cursor: pointer;

      path {
        fill: $gray-5;
      }
    }
  }

  .title {
    color: $gray-5;
    font-family: $font-title;
    font-weight: $font-weight-regular;
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;

    @include tabletXL {
      font-size: 48px;
      line-height: 56px;
    }

    @include desktop {
      font-size: $font-size-huge;
      line-height: $line-height-huge;
    }
  }
}

.container {
  @include set-flex(column-reverse, flex-start, center);
  margin-bottom: 24px;
  gap: 24px;

  @include tablet {
    @include set-flex(row, center, flex-start);
    gap: 16px;
  }

  @include laptop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 22px;
  }

  @include desktop {
    gap: 48px;
  }
}

.inputsContainer {
  @include set-flex(column, center, center);
  width: 100%;
  gap: 24px;

  @include laptop {
    grid-column: 3 / 7;
  }
}

.fileContainer {
  @include set-flex(column, center, center);
  width: 100%;
  gap: 24px;

  @include laptop {
    grid-column: 1 / 3;
  }
}

.buttonContainer {
  @include set-flex(column, center, center);
  width: 100%;
  gap: 24px;

  @include tablet {
    @include set-flex(row, center, center);
  }

  @include laptop {
    display: none;
  }
}

.buttonContainerLaptop {
  display: none;

  @include laptop {
    @include set-flex(row, center, center);
    width: 100%;
    gap: 24px;
  }
}

.star {
  margin-left: 4px;
  color: #D32B10;
}

.label {
  @include set-flex(column, flex-start, flex-start);
  width: 100%;
  gap: 8px;
  color: $gray-30;
  font-family: $font-text;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 20px;

  &:hover {
    cursor: pointer;
  }
}

.text {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  background-color: $gray-90;
  color: $gray-30;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: start;

  &:hover {
    cursor: pointer;
  }
}

.select {
  width: 100%;
}

.about {
  width: 100%;
  height: 180px;
  padding: 12px 16px 0;
  background-color: $gray-90;
  color: $gray-30;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  resize: none;

  &:hover {
    cursor: pointer;
  }
}

.file {
  @include set-flex(column, center, center);
  width: 100%;
  height: 316px;
  gap: 48px;
  background-color: $gray-90;

  @include tablet {
    height: 372px;
  }

  @include tabletXL {
    height: 432px;
  }

  &:hover {
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__icon {
    @include set-square(72px);

    path {
      fill: $gray-5;
    }
  }

  &__label {
    color: $gray-5;
    font-family: $font-text;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
  }
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;

  .image {
    padding: 20px;
    object-fit: contain;
  }
}

.recomendations {
  font-family: $font-text;
  font-size: $font-size-md;
  line-height: 20px;
  color: #fff;
}

.submit {
  @include set-flex(row, center, center);
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  background-color: $gray-5;
  color: $gray-100;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.cancel {
  @include set-flex(row, center, center);
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid $gray-5;
  background-color: transparent;
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.signout {
  @include set-flex(row, center, center);
  height: 48px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid #ef4f4f;
  background-color: transparent;
  color: $gray-5;
  font-family: $font-text;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-regular;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}